{
  "singleQuote": false,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 120,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^./components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "semi": true
}