@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.widget-button {
  background: #abfe2c;
  padding: 7px 14px;
  display: flex;
  align-items: center;
  color: #00501e;
  border-radius: 7px;
  gap: 8px;
}

.widget-button:hover {
  background: #aafe2ccb;
}

.widget-button-large {
  font-size: 22px;
}

.widget-button-icon {
  height: 40px;
  width: 40px;
  padding: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
